* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(30, 30, 30);
    height: 80px;
    padding: 0 50px;
}

.logo img {
    height: 100px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
}

.buttons li {
    margin: 0 10px;
}

.buttons a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

.buttons a:hover {
    background-color: #fff;
    color: #333;
}

.homebutton a:hover {
    background-color: #000;
    color: #fff;
}

.homebutton {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 10px 15px;
}

.b a {
    color: rgb(0, 0, 0);
}

.homebutton:hover {
    background-color: #000;
    color: #fff;
}

body {
    background-color: rgb(30, 30, 30);
}

#hero {
    background-image: url(/assets/rick-n-morty-wallpaper.jpg);
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    height: 100vh;
    width: 100%;

}

#hero::before {
    content: "";
    background: RGB(30, 55, 38);
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
}

.hero-text {
    font-size: 25px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    position: absolute;
}

.hero-title {
    padding: 30px;
}

.characters-grid {
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    background: linear-gradient(108deg, rgba(2, 0, 36, 1) 0%, rgba(16, 136, 39, 1) 50%, rgba(0, 212, 255, 1) 78%);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
    color: white;
}

.card img {
    max-width: 50%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 22px;
}

.card p {
    font-size: 1.2em;
    line-height: 1.4;
}

.grid-title {
    background-color: rgb(30, 30, 30);
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    padding: 30px;
    margin-top: 50px;
}


.episodes-grid {
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.episode {
    background: rgb(2, 0, 36);
    background: linear-gradient(170deg, rgba(2, 0, 36, 1) 0%, rgba(0, 123, 255, 1) 46%, rgba(16, 136, 39, 1) 70%, rgba(0, 212, 255, 1) 81%);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
    color: white;
}

.episode h3 {
    font-size: 22px;
}

.episode p {
    font-size: 1.1em;
    line-height: 1.4;
}

.episodes-title {
    background-color: rgb(30, 30, 30);
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    padding: 30px;
    margin-top: 50px;
}

.name_episode {
    padding-bottom: 15px;
    padding-top: 10px;
}

.name_episode h4 {
    padding-bottom: 10px;
}

.air_date {
    padding-bottom: 15px;
    padding-top: 15px;
}

.air_date h4 {
    padding-bottom: 15px;

}

.season_episode {
    padding-bottom: 15px;
    padding-top: 15px;
}

.season_episode h4 {
    padding-bottom: 10px;

}

#about {
    display: flex;
    text-align: center;
    margin: 20px 0;
    background-color: rgb(30, 30, 30);
    justify-content: space-evenly;
    align-items: center;
}

.card-hbo {
    width: 270px;
    border-radius: 10%;
}


#about h2 {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    color: white;
    font-size: 1em;
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .logo img {
        height: 50px;
    }

    .buttons {
        justify-content: center;
        flex-direction: column;
    }

    .buttons li {
        margin: 10px 0;
    }

    .homebutton {
        margin-top: 10px;
    }

    header {
        flex-direction: column;
        gap: 10px;

    }

    main {

        color: white;
        padding: 20px;
    }

    footer {
        text-align: center;
    }
}